#out{
    width:800px;
    height:250px;
    background:yellow;
    box-sizing: border-box;
    padding-left:600px;
}
#in{
    width:200px;
    height:50px;
    background:gray;
    /* margin-left:600px; */
}

#master{
    width:400px;
    background-color: lightblue;
    text-align: center;
    padding: 50px 0;
}

#animal{
    background:forestgreen;
    width:1000px;
    padding:150px 0 30px 10px;
    /* 
    padding: 위아래  왼쪽오른쪽 
    padding: 위아래왼쪽오른쪽
    padding: 위 오른쪽 아래 왼쪽
    */
}