/*  table3.css  */
/*
  카멜케이스, 스네이크케이스
  카멜표기법 - myPageInfo
  스네이크표기법 - my_page_info
  파스칼표기법 - MyPageInfo
  헝가리안표기법 - class_numTd
       g_val , s_val, c_val
*/
.box{
    border-collapse: collapse;/* td간격제거 */
}
.box tr th{
    border-bottom:3px solid #aaa;
}
.num{
    width:50px;
    height:40px;
}
.name{
    width:150px;
}
.score{ 
    width:50px;
}
.rank{
    width:40px;
}

.box tr td{
    text-align: center;
    height:30px;
    border-bottom: 1px solid #bbb;
}
.nameTd{
    font-weight: 800;
}
.nameTd:hover{
    background-color: cadetblue;
    color:#fff;
}
